<template>
  <CardContent :description="description" :image="image" :title="title" />
</template>

<script>
import CardContent from "@/components/Card/CardContent";
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    image: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: '',
    }
  },
  components: {CardContent}
}
</script>

<style lang="scss">

</style>
