<template>
  <div class="card">
    <h4 class="card-title">{{ title }}</h4>
    <ImageO classes="card-image" :src="image" />
    <p class="card-desc">
      {{ description }}
    </p>
  </div>
</template>

<script>
import ImageO from "@/components/imagO";

export default {
  name: "CardContent",
  components: {ImageO},
  props: {
    title: {
      type: String,
      required: true
    },
    image: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: '',
    }
  },

}
</script>

<style lang="scss">
.card-image {
  @apply object-cover rounded-full inline-block mx-auto mt-5 border-2;
  width: 100%;
  max-width: 150px;
  height: 150px;
}
.card {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(#000, .4);
}

.card-desc {
  @apply text-white inline-block mb-8;
}


</style>
