<template>
  <div class="home">

    <Seed />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import HelloWorld from '@/components/HelloWorld.vue';
import Card from "@/components/Card/Card.vue";
import Seed from "@/components/Seed.vue"; // @ is an alias to /src

@Options({
  components: {
    Seed,
    Card,
    HelloWorld,
  },
})
export default class Home extends Vue {}
</script>
