<template>
  <img :src="src || defaultImage" :width="width" :height="height" :style="[styles]" :class="[classes]" />
</template>

<script>
export default {
  name: "imageO",
  props: ['src', 'width', 'height', 'styles', 'classes'],
  data() {
    return {
      defaultImage:  'https://www.globemoving.com/wp-content/uploads/2015/08/user.jpg',
    }
  }
}
</script>

<style scoped>

</style>