<template>
  <img :src="text">
</template>

<script>
import {seed} from "data-seed";
export default {
  name: "Seed",
  data() {
    return {
      text: seed.avatar()
    }
  }
}
</script>

<style scoped>

</style>